@model ListingListViewModel

    <h1>Listings: (@ViewBag.CurrentViewName View)</h1>
    
    <a> View</a>

   <div class="row row-cols-1 row-cols-md-3 g-4">
       @foreach (var listing in Model.Listings)
       {
        <div class="col">
            <div>
                <img src="@listing.ImageUrl" class="card-img-top" alt="listings.Name">
                <div>
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="text-start">
                            @listing.Name
                        </h5>
                        <h5 class="text-nowrap">
                            @listing.Price.ToString("0.00 NOK")
                        </h5>
                    </div>
                </div>
            </div>
            </div>
      }
</div>