@model Listing

<h2>Update Listing</h2>

<form asp-action="Update">
    <input type="hidden" asp-for="ListingId" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control"/>
        <span asp-validation-for="Description" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="AntallRom"></label><span class="text-danger">*</span>
        <input asp-for="AntallRom" class="form-control" />
        <span asp-validation-for="AntallRom" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="ImageUrl1"></label>
        <input asp-for="ImageUrl1" class="form-control"/>
        <span asp-validation-for="ImageUrl1" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="Bad"></label><span class="text-danger">*</span>
        <input asp-for="Bad" class="form-control" />
        <span asp-validation-for="Bad" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Area"></label><span class="text-danger">*</span>
        <input asp-for="Area" class="form-control" />
        <span asp-validation-for="Area" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Floor"></label><span class="text-danger">*</span>
        <input asp-for="Floor" class="form-control" />
        <span asp-validation-for="Floor" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Spots"></label><span class="text-danger">*</span>
        <input asp-for="Spots" class="form-control" />
        <span asp-validation-for="Spots" class="text-danger"></span>
        </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
    <a asp-action="Table" class="btn btn-secondary">Cancel</a>
</form>