@model RentViewModel

<!-- Endre sånn at ListingId velges automatisk og sånn at man ikke trenger å skrive den-->
<h2>Rent this Listing!</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="RentView">
    <div class="form-group">
        <label asp-for="RentListing.ListingId"></label><span class="text-danger">*</span>
        <input asp-for="RentListing.ListingId" class="form-control" readonly />
        <span asp-validation-for="RentListing.ListingId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="RentListing.RentId"></label><span class="text-danger" *></span>
        <input asp-for="RentListing.RentId" class="form-control" />
        <span asp-validation-for="RentListing.RentId" class="text-danger"></span>
    </div>
    <div class="form-group">
        @Html.LabelFor(m=>m.CheckInDate, new {@class = "control-label"})
        <div class="input-group date" id="checkin-datepicker">
            @Html.TextBoxFor(m=>m.CheckInDate, "{0:dd/MM/yyyy}", new{@class ="form-control"})
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m=>m.CheckOutDate, new {@class = "control-label"})
        <div class="input-group date" id="checkout-datepicker">
            @Html.TextBoxFor(m=>m.CheckOutDate, "{0:dd/MM/yyyy}", new{@class ="form-control"})
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
    @section Scripts{
        <script>
            $(function () {
                $('#checkin-datepicker').datepicker({
                    format: 'dd/mm/yyyy'
                });
                $('#checkout-datepicker').datepicker({
                    format: 'dd/mm/yyyy'
                });
            })
        </script>
    }
    <button type="submit" class="btn btn-primary">Rent</button>
    <a asp-controller="Listing" asp-action="Table" class="btn btn-secondary">Back to Listing Table</a>
</form>

