@model RentViewModel


<h2>Rent this Listing!</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Rent">
    <div class="form-group">
        <label asp-for="RentListing.ListingId"></label><span class="text-danger">*</span>
        <input asp-for="RentListing.ListingId" class="form-control"/>
        <span asp-validation-for="RentListing.ListingId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RentListing.RentListingPrice"></label><span class="text-danger">*</span>
        <input aps-for="RentListing.RentListingPrice" class="form-control" />
        <span asp-validation-for="RentListing.RentListingPrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RentListing.RentId"></label><span class="text-danger"*></span>
        <input asp-for="RentListing.RentId" class="form-control" />
        <span asp-validation-for="RentListing.RentId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Rent</button>
    <a asp-action="Table" class="btn btn-secondary">Back to Listing Table</a>
</form>