
.booking-detail {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 50px;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Creates 3 equal columns */
    gap: 20px;
}

    .booking-detail h3 {
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .booking-detail p {
        margin: 5px 0;
    }

    .booking-detail:hover {
        background-color: lightslategray;
        opacity: 0.8;
    }

