@model Rent


<h2>Rent this Listing!</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Rent">
    <div class="form-group">
        <label asp-for="RentId"></label><span class="text-danger">*</span>
        <input asp-for="RentId" class="form-control"/>
        <span asp-validation-for="RentId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RentDate"></label><span class="text-danger">*</span>
        <input aps-for="RentDate" class="form-control"/>
        <span asp-validation-for="RentDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ListingId"></label><span class="text-danger"*></span>
        <input asp-for="ListingId" class="form-control"/>
        <span asp-validation-for="ListingId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Rent</button>
    <a asp-action="Table" class="btn btn-secondary">Back to Listing Table</a>
</form>