@model IEnumerable<Rent>

<h1>List of Orders</h1>

@foreach (var rent in Model)
{
    <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 20px;">
        <div class="container">
            <h5>Order @rent.RentId </h5>
            <div>
                <table class='table table-striped' style='max-width: 1200px;'>
                    <tr class="table-header">
                        
                        <th>CustomerId</th>
                    
                    </tr>
                    <tr>
                    
                        <td>@rent.CustomerId</td>
                    </tr>
                </table>
            </div>
        </div>
        <partial name="_RentListingTable" model="rent.RentListings" />
    </div>
}

