@{
    ViewData["Title"] = "Home Page";
}
<!-- Your existing content here -->
<head>
    <link rel="stylesheet" href="Forum.styles.css" />
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<div class="jumbotron">

    <div class="featured section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="left-image">
                        <img src="https://a0.muscache.com/im/pictures/miso/Hosting-32881554/original/2e7bedef-025b-461f-9f6e-e9b90b4b6450.jpeg?im_w=1200" alt="" class="featuredpic">
                        <img src="https://i.guim.co.uk/img/media/a67fb4a587b7863022cc13361466aa9a8a1dc105/37_0_1125_675/master/1125.jpg?width=1200&quality=85&auto=format&fit=max&s=c33c7416e7469ccb6a9aa6a73725c160" alt="" class="featuredpic">

                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="section-heading">
                        <h6>| Featured</h6>
                        <h2>Cozy Winter Cabin</h2>
                    </div>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Why this cabin?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    A 133m² winter cozy cabin typically refers to a small, inviting, and warm living space that spans an area of 133 square meters. This type of cabin is designed to provide a snug and co
                                    mfortable atmosphere.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    How does pay later work?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Buy now, pay later, basically works as an economic future investing mechanism.
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Why choose LosCasa?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        Our dedicated team of professionals is devoted to providing personalized solutions that cater to your unique needs, ensuring
                                        a seamless and enjoyable experience from start to finish.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="col-lg-3">
                    <div class="info-table">
                        <ul>
                            <li>
                                <img src="https://cdn-icons-png.flaticon.com/512/6676/6676508.png" alt="" style="max-width: 52px;">
                                <br />
                                <br />
                                <h4>
                                    133m2
                                    <br>
                                    <span>Total Flat Space</span>
                                </h4>
                            </li>
                            <li>
                                <img src="https://flyclipart.com/thumb2/bedroom-furniture-interior-icon-with-png-and-vector-format-543313.png" alt="" style="max-width: 52px;">
                                <h4>Contract<br><span>Contract Ready</span></h4>
                            </li>
                            <li>
                                <img src="https://1000logos.net/wp-content/uploads/2017/06/VISA-Logo-1976.png" alt="" style="max-width: 52px;">
                                <h4>Payment<br><span>Buy now, pay later</span></h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<br />
<br />
<div class="listings section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <div class="section-heading text-center">
                    <h6>| Listings</h6>
                    <br />
                    <h2>The finest listings available to you</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <a href="https://localhost:7038/Listing/ListingView/19"><img src="https://a0.muscache.com/im/pictures/89158934/7196d4d8_original.jpg?im_w=1200" alt=""></a>
                    <span class="category">Fin Hytte</span>
                    <h6>500,00 NOK</h6>
                    <h4><a href="https://localhost:7038/Listing/ListingView/19">Karl Johans gate 23, 0159 Oslo</a></h4>
                    <ul>
                        <li>Bedrooms: <span>2</span></li>
                        <li>Bathrooms: <span>2</span></li>
                        <li>Area: <span>133m2</span></li>
                        <li>Floor: <span>2</span></li>
                        <li>Parking: <span>3 spots</span></li>
                    </ul>
                    <div class="main-button">
                        <a href="https://localhost:7038/Listing/ListingView/19">Schedule a visit</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <a href="https://localhost:7038/Listing/ListingView/20"><img src="https://a0.muscache.com/im/pictures/prohost-api/Hosting-933247479809119083/original/590e5853-a109-468c-afb5-607bfb4f1dff.jpeg?im_w=720" alt=""></a>
                    <span class="category">Apartment</span>
                    <h6>750,00 NOK</h6>
                    <h4>
                        <a href="https://localhost:7038/Listing/ListingView/20">
                            Nedre Slottsgate 1, 0157 Oslo
                        </a>
                    </h4>
                    <ul>
                        <li>Bedrooms: <span>3</span></li>
                        <li>Bathrooms: <span>3</span></li>
                        <li>Area: <span>450m2</span></li>
                        <li>Floor: <span>3</span></li>
                        <li>Parking: <span>8 spots</span></li>
                    </ul>
                    <div class="main-button">
                        <a href="https://localhost:7038/Listing/ListingView/20">Schedule a visit</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <a href="https://localhost:7038/Listing/ListingView/21"><img src="https://a0.muscache.com/im/pictures/a72fd14f-7ac0-4285-afe2-2b745f81d4cf.jpg?im_w=720" alt=""></a>
                    <span class="category">Apartment</span>
                    <h6>15 000,00 NOK</h6>
                    <h4>
                        <a href="https://localhost:7038/Listing/ListingView/21">
                            Stranden 1, 0250 Oslo
                        </a>
                    </h4>
                    <ul>
                        <li>Bedrooms: <span>2</span></li>
                        <li>Bathrooms: <span>1</span></li>
                        <li>Area: <span>125m2</span></li>
                        <li>Floor: <span>3</span></li>
                        <li>Parking: <span>1 spots</span></li>
                    </ul>
                    <div class="main-button">
                        <a href="https://localhost:7038/Listing/ListingView/21">Schedule a visit</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <a href="https://localhost:7038/Listing/ListingView/22"><img src="https://a0.muscache.com/im/pictures/miso/Hosting-32881554/original/2e7bedef-025b-461f-9f6e-e9b90b4b6450.jpeg?im_w=1200" alt=""></a>
                    <span class="category">Apartment</span>
                    <h6>360,00 NOK</h6>
                    <h4>
                        <a href="https://localhost:7038/Listing/ListingView/22l">
                            Torggata 23, 0183 Oslo
                        </a>
                    </h4>
                    <ul>
                        <li>Bedrooms: <span>2</span></li>
                        <li>Bathrooms: <span>1</span></li>
                        <li>Area: <span>133m2</span></li>
                        <li>Floor: <span>1th</span></li>
                        <li>Parking: <span>2 spots</span></li>
                    </ul>
                    <div class="main-button">
                        <a href="https://localhost:7038/Listing/ListingView/22">Schedule a visit</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <a href="https://localhost:7038/Listing/ListingView/23"><img src="https://a0.muscache.com/im/pictures/1afed1be-0078-4641-9f56-533d17ebdfc3.jpg?im_w=1200" alt=""></a>
                    <span class="category">Villa</span>
                    <h6>19 000,00 NOK</h6>
                    <h4>
                        <a href="https://localhost:7038/Listing/ListingView/23">
                            Universitetsgata 26, 0162 Oslo
                        </a>
                    </h4>
                    <ul>
                        <li>Bedrooms: <span>4</span></li>
                        <li>Bathrooms: <span>4</span></li>
                        <li>Area: <span>180m2</span></li>
                        <li>Floor: <span>38th</span></li>
                        <li>Parking: <span>2 spots</span></li>
                    </ul>
                    <div class="main-button">
                        <a href="https://localhost:7038/Listing/ListingView/23">Schedule a visit</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <a href="https://localhost:7038/Listing/ListingView/24"><img src="https://a0.muscache.com/im/pictures/cec6cc86-8d84-42bf-b597-42c4dd887a6d.jpg?im_w=1200" alt=""></a>
                    <span class="category">MiniHouse</span>
                    <h6>3 360,00 NOK</h6>
                    <h4>
                        <a href="https://localhost:7038/Listing/ListingView/24">
                            Kongens gate 7, 0153 Oslo
                        </a>
                    </h4>
                    <ul>
                        <li>Bedrooms: <span>3</span></li>
                        <li>Bathrooms: <span>2</span></li>
                        <li>Area: <span>165m2</span></li>
                        <li>Floor: <span>1th</span></li>
                        <li>Parking: <span>2 spots</span></li>
                    </ul>
                    <div class="main-button">
                        <a href="https://localhost:7038/Listing/ListingView/24">Schedule a visit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="footer">
    <div class="row">
        <div class="col-lg-12">
            <p>
                Copyright © 2023 LosCasa Company. All rights reserved.
                <br>Design: <a href="" target="_blank" title="free CSS templates"> LosCasa </a>
            </p>
        </div>
    </div>
</footer>
