/*.bgimage{
    background-image: url('/images/hus1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}*/

/*   background-image: url('/images/hus1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
}*/

html {
    width: 120%;
    max-height: auto;
    margin-left: -10%;
    margin-right: -10%;
    margin-top: -1.5%;
}

.container {


}

.header {
    position: relative;
    text-align: center;
    background-color: rgba(0, 0, 128, 0.3);
    position: center;
}

.image-container img {
    width: 115%;
    max-height: auto;
    margin-left: -10%;
    margin-right: -10%;
    margin-top: -1.5%;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image-text h1 {
    color: white;
    font-size: 3em;
    }

h2{
    color: white;
    font-size: 250%;
}

h1{
    font-size: 48px;
    text-shadow: -1px -1px #0c0, 1px 1px #060, -3px 0 4px #000;
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
    font-weight: lighter;
    -moz-box-shadow: 2px 2px 6px black;
    -webkit-box-shadow: 2px 2px 6px black;
    box-shadow: 2px 2px 6px #888;
    text-align: center;
    color:white;
    display: block;
    margin: 16px;
    background-image: url(images/night.jpg);
}

.jumbotron1 {
    background-color: black;
    color: white;
    padding: 5%;
    margin-left: -7.5%;
    margin-right: -7.5%;
    border-top: 3px solid rgba(255, 255, 255, 0.4); /* White border with 0.4 opacity */
}

.jumbotron1{
    text-align: center;
}

@media (min-width: 768px) {
    html {
        font-size: 1px;

    }
}

html{
    position: relative;
    min-height: 100%;
}

p{
}
