@{
    ViewData["Title"] = "Home Page";
}
    <!-- Your existing content here -->
<head>
    <link rel="stylesheet" href="Forum.styles.css" /> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"> <!--Vet ikke om dette må være her, test senere-->
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="/css/owl.css">

</head>
     
<div class="jumbotron">

  <div class="featured section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="left-image">
                    <img src="https://a0.muscache.com/im/pictures/miso/Hosting-32881554/original/2e7bedef-025b-461f-9f6e-e9b90b4b6450.jpeg?im_w=1200" alt="" class="featuredpic">
                    <img src="https://i.guim.co.uk/img/media/a67fb4a587b7863022cc13361466aa9a8a1dc105/37_0_1125_675/master/1125.jpg?width=1200&quality=85&auto=format&fit=max&s=c33c7416e7469ccb6a9aa6a73725c160" alt="" class="featuredpic">

          </div>
        </div>
        <div class="col-lg-5">
          <div class="section-heading">
            <h6>| Featured</h6>
            <h2>Cozy Winter Cabin</h2>
          </div>
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Why this cabin?
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                                    A 133m² winter cozy cabin typically refers to a small, inviting, and warm living space that spans an area of 133 square meters. This type of cabin is designed to provide a snug and co
                                    mfortable atmosphere, especially during the winter season. charm, offering residents or visitors a peaceful retreat from the hustle and bustle of daily life.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  How does pay later work?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Buy now, pay later, basically works as an economic future investing mechanism, meaning that the costumer has the option to pay whenever is fitting.
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Why choose LosCasa?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                                    Our dedicated team of professionals is devoted to providing personalized solutions that cater to your unique needs, ensuring a seamless and enjoyable experience from start to finish. Choose us for a trusted partner that prioritizes your success and works tirelessly to deliver results that surpass all your expectations."
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="info-table">
            <ul>
              <li>
                            <img src="https://cdn-icons-png.flaticon.com/512/6676/6676508.png" alt="" style="max-width: 52px;">
                <h4>133 m2<br><span>Total Flat Space</span></h4>
              </li>
              <li>
                            <img src="https://flyclipart.com/thumb2/bedroom-furniture-interior-icon-with-png-and-vector-format-543313.png" alt="" style="max-width: 52px;">
                <h4>Contract<br><span>Contract Ready</span></h4>
              </li>
              <li>
                            <img src="https://1000logos.net/wp-content/uploads/2017/06/VISA-Logo-1976.png" alt="" style="max-width: 52px;">
                <h4>Payment<br><span>Buy now, pay later</span></h4>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="listings section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 offset-lg-4">
                <div class="section-heading text-center">
                    <h6>| Listings</h6>
                    <h2>The finest listings available to you</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <a href="https://localhost:7038/Listing/ListingView/19"><img src="https://a0.muscache.com/im/pictures/89158934/7196d4d8_original.jpg?im_w=1200" alt=""></a>
                    <span class="category">Fin Hytte</span>
                    <h6>500,00 NOK</h6>
                    <h4><a href="https://localhost:7038/Listing/ListingView/19">Karl Johans gate 23, 0159 Oslo, Norway</a></h4>
                    <ul>
                        <li>Bedrooms: <span>2</span></li>
                        <li>Bathrooms: <span>2</span></li>
                        <li>Area: <span>133m2</span></li>
                        <li>Floor: <span>2</span></li>
                        <li>Parking: <span>3 spots</span></li>
                    </ul>
                    <div class="main-button">
                        <a href="property-details.html">Schedule a visit</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <a href="property-details.html"><img src="https://a0.muscache.com/im/pictures/prohost-api/Hosting-933247479809119083/original/590e5853-a109-468c-afb5-607bfb4f1dff.jpeg?im_w=720" alt=""></a>
                    <span class="category">Apartment</span>
                    <h6>750,00 NOK</h6>
                    <h4>
                        <a href="property-details.html">
                            Nedre Slottsgate 1, 0157 Oslo, Norway
                        </a>
                    </h4>
                    <ul>
                        <li>Bedrooms: <span>3</span></li>
                        <li>Bathrooms: <span>3</span></li>
                        <li>Area: <span>450m2</span></li>
                        <li>Floor: <span>3</span></li>
                        <li>Parking: <span>8 spots</span></li>
                    </ul>
                    <div class="main-button">
                        <a href="property-details.html">Schedule a visit</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <a href="property-details.html"><img src="https://a0.muscache.com/im/pictures/a72fd14f-7ac0-4285-afe2-2b745f81d4cf.jpg?im_w=720" alt=""></a>
                    <span class="category">Apartment</span>
                    <h6>15 000,00 NOK</h6>
                    <h4>
                        <a href="property-details.html">
                            Stranden 1, 0250 Oslo, Norway
                        </a>
                    </h4>
                    <ul>
                        <li>Bedrooms: <span>2</span></li>
                        <li>Bathrooms: <span>1</span></li>
                        <li>Area: <span>125m2</span></li>
                        <li>Floor: <span>3</span></li>
                        <li>Parking: <span>1 spots</span></li>
                    </ul>
                    <div class="main-button">
                        <a href="property-details.html">Schedule a visit</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <a href="property-details.html"><img src="https://a0.muscache.com/im/pictures/miso/Hosting-32881554/original/2e7bedef-025b-461f-9f6e-e9b90b4b6450.jpeg?im_w=1200" alt=""></a>
                    <span class="category">Apartment</span>
                    <h6>360,00 NOK</h6>
                    <h4>
                        <a href="property-details.html">
                            Torggata 23, 0183 Oslo, Norway
                        </a>
                    </h4>
                    <ul>
                        <li>Bedrooms: <span>2</span></li>
                        <li>Bathrooms: <span>1</span></li>
                        <li>Area: <span>133m2</span></li>
                        <li>Floor: <span>1th</span></li>
                        <li>Parking: <span>2 spots</span></li>
                    </ul>
                    <div class="main-button">
                        <a href="property-details.html">Schedule a visit</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <a href="property-details.html"><img src="https://a0.muscache.com/im/pictures/1afed1be-0078-4641-9f56-533d17ebdfc3.jpg?im_w=1200" alt=""></a>
                    <span class="category">Villa</span>
                    <h6>19 000,00 NOK</h6>
                    <h4>
                        <a href="property-details.html">
                            Universitetsgata 26, 0162 Oslo, Norway
                        </a>
                    </h4>
                    <ul>
                        <li>Bedrooms: <span>4</span></li>
                        <li>Bathrooms: <span>4</span></li>
                        <li>Area: <span>180m2</span></li>
                        <li>Floor: <span>38th</span></li>
                        <li>Parking: <span>2 spots</span></li>
                    </ul>
                    <div class="main-button">
                        <a href="property-details.html">Schedule a visit</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="item">
                    <a href="property-details.html"><img src="https://a0.muscache.com/im/pictures/cec6cc86-8d84-42bf-b597-42c4dd887a6d.jpg?im_w=1200" alt=""></a>
                    <span class="category">MiniHouse</span>
                    <h6>3 360,00 NOK</h6>
                    <h4>
                        <a href="property-details.html">
                            Kongens gate 7, 0153 Oslo, Norway
                        </a>
                    </h4>
                    <ul>
                        <li>Bedrooms: <span>3</span></li>
                        <li>Bathrooms: <span>2</span></li>
                        <li>Area: <span>165m2</span></li>
                        <li>Floor: <span>1th</span></li>
                        <li>Parking: <span>2 spots</span></li>
                    </ul>
                    <div class="main-button">
                        <a href="property-details.html">Schedule a visit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="footer">
        <div class="row">
            <div class="col-lg-12">
                <p>
                    Copyright © 2023 LosCasa Company. All rights reserved.
                    <br>Design: <a href="" target="_blank" title="free CSS templates"> LosCasa </a>
                </p>
            </div>
        </div>
</footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <!-- Your content here -->
