.header h6 {
    text-align: center
}

.header h2 {
    text-align: center;
}


.header .accordion {
    --bs-accordion-border-radius: 10px;
    --bs-accordion-inner-border-radius: 10px;
    --bs-accordion-bg: #fafafa;
    --bs-accordion-border-color: none;
    border: none !important;
    padding: 20px;
    padding-top: 50px;
    align-items: center;
    text-align: center;
}

.header .accordion-header {
    border-bottom: 15px solid #eaeaea;
    margin-left: 0px;
}

.header .accordion-button {
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    color: #1e1e1e;
}

    .header .accordion-button:not(.collapsed) {
        color: #f35525;
        background-color: #fafafa;
        outline: none;
    }

    .header .accordion-button::after {
        display: none;
    }

.header #headingThree {
    border-bottom: none;
}

.header .accordion-item:last-of-type .accordion-collapse {
    border-top: 1px solid #eaeaea;
}

.header .info-table {
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 70px 40px;
    margin-top: 25px;
}

    .header .info-table ul li {
        display: block;
        margin-bottom: 35px;
        padding-bottom: 35px;
        border-bottom: 1px solid #eee;
    }

        .header .info-table ul li:last-child {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }

        .header .info-table ul li img {
            float: left;
            margin-right: 100px;
            border-bottom: solid 1px gray;
            margin-top: 1px;
            padding-bottom: 5px;
        }

        .header .info-table ul li h4 {
            font-size: 22px;
            font-weight: 600;
        }

            .header .info-table ul li h4 span {
                font-size: 15px;
                color: #aaa;
                font-weight: 400;
            }

.headerpic {
    width: 110%;
    height: 110%;
    padding: 70px;
    opacity: 0.95;
    margin-left: -50px;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
}


.listings .item {
    background-color: lightslategray;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
}

    .listings .item img {
        border-radius: 10px;
    }

    .listings .item span.category {
        background-color: lightgray;
        font-weight: 500;
        border-radius: 5px;
        font-size: 14px;
        color: #1e1e1e;
        padding: 5px 12px;
        display: inline-block;
        margin-top: 25px;
    }

    .listings .item h4 {
        font-size: 19px;
        margin: 25px 0px;
    }

        .listings .item h4 a {
            color: #1e1e1e;
        }

    .listings .item ul li {
        display: inline-block;
        font-size: 15px;
        color: black;
        margin-right: 20px;
    }

        .listings .item ul li span {
            font-weight: 600;
            color: #1e1e1e;
        }

    .listings .item ul {
        border-bottom: 1px solid #eaeaea;
        margin-bottom: 30px;
        padding-bottom: 30px;
    }

    .listings .item h6 {
        font-size: 20px;
        color: antiquewhite;
        margin-top: 6px;
        display: inline-block;
        float: right;
        margin-top: 30px;
    }

    .listings .item .main-button {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .listings .item a {
        color: black;
        text-decoration: none;
    }

        .listings .item a:hover {
            text-decoration: underline;

        }


.container img {
    max-width: 100%;
    margin: auto;
}



h2 {
    color: black;
    font-size: 250%;
    margin-left: 5%;
    padding-bottom: 20px;
}

h1 {
    font-size: 48px;
    text-shadow: -1px -1px #0c0, 1px 1px #060, -3px 0 4px #000;
    font-family: Arial, Helvetica, sans-serif;
    padding: 16px;
    font-weight: lighter;
    -moz-box-shadow: 2px 2px 6px black;
    -webkit-box-shadow: 2px 2px 6px black;
    box-shadow: 2px 2px 6px #888;
    text-align: center;
    color: white;
    display: block;
    margin: 16px;
    padding-bottom: 20px;
}

footer {
    background-color: lightslategray;
    text-align: center;
    padding: 25px 0px;
    margin-left: -35%;
    margin-right: -35%;
    margin-bottom: -20%;
    overflow-x: auto;
}

    footer p {
        color: #fff;
    }

        footer p a {
            color: #fff;
            font-weight: 500;
            transition: all .3s;
        }

            footer p a:hover {
                color: #fff;
                opacity: 0.75;
            }



@media (min-width: 768px) {
    html {
        font-size: 1px;
    }

    .col-lg-5 {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}
