@model IEnumerable<Listings>

<div class="container">
    <h1>(@ViewBag.CurrentViewName View)</h1>
    <table class='table'>
            
        @foreach (var listings in Model)
        {
            <tr>
                <td>@listings.ListingId</td>
                <td>@listings.Name</td>
                <td>@listings.Price.ToString("0.00 NOK")</td>
                <td></td>
            </tr>
        }
    </table>
    </div>
