@model IEnumerable<Forum.Models.Listing>

    <!DOCTYPE html>
    <html>
        <head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <title>Listings</title>
        </head>
        <body>
<div class="container">
    <h1>@ViewBag.CurrentViewName</h1>
    <table class='table'>
            <!-- Legge inn bilde som en variabel--> 
        @foreach (var listings in Model)
        {
            <tr>
                <td>@listings.ListingId</td>
                <td>@listings.Name</td>
                <td>@listings.Price.ToString("0.00 NOK")</td>
                <td></td>
            </tr>
        }
    </table>
</div>
</body>
</html>
