@model CreateRentListingViewModel
<!-- Endre sånn at ListingId velges automatisk og sånn at man ikke trenger å skrive den-->

<h2>Rent this Listing!</h2>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-controller="Rent" asp-action="CreateRentListing">
    <div class="form-group">
        <input asp-for="RentListing.ListingId" type="hidden" />
    </div>

    <div class="form-group">
        <label asp-for="RentListing.RentId">Select Rent ID</label><span class="text-danger">*</span>
        <select asp-for="RentListing.RentId" asp-items="Model.RentSelectList" class="form-control"></select>
        <span asp-validation-for="RentListing.RentId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RentListing.StartDate">Start Date</label><span class="text-danger">*</span>
        <input asp-for="RentListing.StartDate" class="form-control" type="date" />
        <span asp-validation-for="RentListing.StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RentListing.EndDate">End Date</label><span class="text-danger">*</span>
        <input asp-for="RentListing.EndDate" class="form-control" type="date" />
        <span asp-validation-for="RentListing.EndDate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Rent</button>
</form>