@model CreateRentListingViewModel

<h2>Rent this Listing!</h2>

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="CreateRentListing">
    <input type="hidden" asp-for="RentListing.ListingId" />

    <div class="form-group">
        <label asp-for="RentListing.RentId"></label><span class="text-danger">*</span>
        <select asp-for="RentListing.RentId" asp-items="Model.RentSelectList" class="form-control">
            <option value="">Select an order...</option>
        </select>
        <span asp-validation-for="RentListing.RentId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RentListing.DaysStayed"></label><span class="text-danger">*</span>
        <input asp-for="RentListing.DaysStayed" class="form-control" />
        <span asp-validation-for="RentListing.DaysStayed" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Rent</button>
    <a asp-controller="Listing" asp-action="Table" class="btn btn-secondary">Back to Listing Table</a>
</form>
