@model IEnumerable<RentListing>

    <table>
        <tr>
            <th>RentListingId</th>
        </tr>
        @foreach (var rentListing in Model)
    {
        <tr>
            <td>@rentListing.RentListingId</td>
            <td>@rentListing.RentListingPrice</td>
            <td>@rentListing.RentId</td>
            <td>@rentListing.Rent</td>
        </tr>
    }
</table>
